# === Python générique ===
__pycache__/
*.py[cod]
*.so
*.log
*.out
*.pid
*.tmp
*.bak
*.swp

# === Environnements virtuels (y compris conda) ===
env/
venv/
.venv/
ENV/
.ENV/
.Python
lib/  # si des packages sont installés ici par erreur
# Environnements conda créés dans un dossier spécifique
anaconda3/
miniconda3/
envs/
*.conda
*.env
lib/
share/locale/

# === Fichiers Conda ===
*.yml  # tu peux exclure ceci si tu veux versionner ton environment.yml
*.lock

# === Configuration et secrets ===
*.env
*.env.*
.envrc
*.ini
*.cfg
*.local
env_vars.sh

# === Build / distribution ===
build/
dist/
*.egg-info/
.eggs/
*.egg

# === Caches ===
.mypy_cache/
.pytest_cache/
.cache/
coverage.xml
.coverage
.tox/
.pyre/
.dmypy.json

# === Jupyter ===
.ipynb_checkpoints/
*.ipynb~

# === IDE / éditeurs ===
.vscode/
.idea/
*.code-workspace

# === PyInstaller ===
*.spec
x86_64-conda_cos7-linux-gnu
x86_64-conda-linux-gnu
# === macOS/Linux/Windows spécifiques ===
.DS_Store
Thumbs.db


anaconda3/envs/
documentation/

# === Exclude images ===
.png